# Environments
.env
.venv/
venv/
venv
venv_local/
ENV/

# Data and Logs
data/
logs/
database/
!database/*.py
tmp/
*.sqlite
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Output files
output.txt
out2.txt
*.log

# Backups
backup_*/
